<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB DEV LAB</title>
    {{#if loginCSS}}
    <link href='/css/login.css' rel='stylesheet' />
    {{/if}}
    {{#if homeLinks}}
    <link href="https://fonts.googleapis.com/css?family=Girassol&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/script.js" defer></script>
    {{/if}}
</head>

<body>
    {{{ body }}}
</body>

</html>